<div class="test" ...attributes>
    Data Test Selector Component
    <div class="inner" data-test-present-inner={{@index}}></div>
    <DataTestSelector::Child data-test-simple={{@index}} />
</div>
<hr>